################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ContactManagement.Api/.vs/ContactManagement.Api/v16
